.menu {

    background-image: linear-gradient(to bottom right,#027e96,#53adac);
    color: #dddddd;
    margin-left: 0px;
}

.menuitem:hover {
    color: white
}

.submenu {
    background-color: white;
    color: #027e96;
    border: none
}

.submenu:hover {
    color: #2a9ab0;
    border: none
}

.submenu:active {
    border: none
}

.submenu:focus {
    outline: 0px;
}

.menubutton {
    color: white
}

.menubutton.selected {
    color: red
}